<nav>
    <a href="/">Home</a>
    <a href="existing_Recs">All Projects</a>
    <!-- <a href="update">Update Existing Projects</a> -->
    <a href="new_Rec">Add New Project</a>
    <a href="all_NOtes">View Notes</a>
</nav>